.settings-icon {
    padding-right: 10px;
    font-size: 28px;
}

.settings {
    font-size: large;
}

.phone-icon {
    padding-right: 10px;
    font-size: 50px;
}

.contact {
    font-size: large;
}

.about-icon {
    padding-right: 10px;
    font-size: 32px;
}

.about {
    font-size: large;
}

.logout {
    margin-right: 10px;
}

.logout-button {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 10px;
    font-size: large;
}

.account {
    text-align: center;
    font-size: 22px;
}