.settings {
    margin-right: 10px;
}

.contact {
    margin-right: 10px;
}

.about {
    margin-right: 10px;
}

.logout {
    margin-right: 10px;
}

.logout-button {
    margin-left: 30px;
    margin-right: 30px;
}

.account {
    align-items: center;
}