.settings {
    margin-right: 10px;
}

.contact {
    margin-right: 10px;
}

.about {
    margin-right: 10px;
}

.logout {
    margin-right: 10px;
}

.logout-button {
    margin-left: 20px;
    margin-right: 20px;
}