.checkout {
    text-align: center;
    font-size: 22px;
}

.arrow {
    align-items: left;
}

.method {
    font-size: 20px;
    padding-top: 20px;
}

.cardtext {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.address {
    font-size: 20px;
    padding-bottom: 0px;
    padding-top: 30px;
}

.options {
    font-size: 20px;
    padding-top: 40px;
}

.change {
    font-size: 12px;
    color: blueviolet;
    align-items: left;
}

.card {
    padding-right: 10px;
    font-size: 24px;
}

.home {
    padding-right: 10px;
    font-size: 24px;
}

.toggle {
    padding-top: 80px;
    padding-bottom: 100px;
    font-size: 20px;
}

.pickup-icon {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
}

.pickup {
    cursor: pointer;
}

.courier-icon {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
}

.courier {
    cursor: pointer;
}

.center-button {
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
}

.order-button {
    width: 400px;
    height: 50px;
    font-size: large;
}

.carditem {
    padding-bottom: 10px;
    background-color: white;
}

.cardform {
    padding-left: 15px;
    background-color: white;
}

.addressrow {
    padding-top: 20px;
    background-color: white;
}