img {
    height: 100x;
    width: 100px;
}

.stara {
    color: yellow;
}

.tyhjaStara {
    color: gray;
}

.puoliStara {
    color: yellow;
}

.home {
    text-align: center;
    font-size: 22px;
    padding-top: 30px;
}