.contact {
    font-size: 22px;
    text-align: center;
}

.phone-icon {
    padding-right: 10px;
    font-size: 30px;
}

.phone {
    font-size: large;
}

.email-icon {
    padding-right: 10px;
    font-size: 30px;
}

.email {
    font-size: large;
}

.mail-icon {
    padding-right: 10px;
    font-size: 30px;
}

.mail {
    font-size: large;
}

.street {
    padding-left: 55px;
}

.city {
    padding-left: 56px;
}

.number {
    padding-left: 55px;
}

.email-address {
    padding-left: 55px;
}

.contactlist {
    padding-bottom: 10px;
}