.settings {
    font-size: 22px;
    text-align: center;
}

.dark-mode-icon {
    font-size: 24px;
    padding-right: 10px;
}

.DarkMode {
    font-size: large;
}

.enable {
    font-size: large;
}

.notifications {
    font-size: 24px;
    padding-right: 10px;
}

.font-icon {
    font-size: 24px;
    padding-right: 10px;
}


.BiggerFont {
    font-size: large;
}